In [1]:
!kaggle datasets download -d arslanali4343/top-personality-dataset

Downloading top-personality-dataset.zip to C:\Users\alisa\coding\personality_top

  0%|          | 0.00/9.46M [00:00<?, ?B/s]
 11%|#         | 1.00M/9.46M [00:00<00:02, 3.98MB/s]
 21%|##1       | 2.00M/9.46M [00:00<00:02, 3.87MB/s]
 32%|###1      | 3.00M/9.46M [00:00<00:01, 3.52MB/s]
 42%|####2     | 4.00M/9.46M [00:01<00:01, 3.91MB/s]
 53%|#####2    | 5.00M/9.46M [00:01<00:01, 4.11MB/s]
 63%|######3   | 6.00M/9.46M [00:01<00:00, 4.53MB/s]
 74%|#######3  | 7.00M/9.46M [00:01<00:00, 4.78MB/s]
 85%|########4 | 8.00M/9.46M [00:01<00:00, 4.96MB/s]
 95%|#########5| 9.00M/9.46M [00:02<00:00, 4.99MB/s]
100%|##########| 9.46M/9.46M [00:02<00:00, 4.53MB/s]

In [3]:
!unzip 'top-personality-dataset.zip'

Archive:  top-personality-dataset.zip
  inflating: 2018-personality-data.csv
  inflating: 2018_ratings.csv

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('2018-personality-data.csv')
df_ratings = pd.read_csv('2018_ratings.csv')

In [6]:
df.head()

,userid,openness,agreeableness,emotional_stability,conscientiousness,extraversion,assigned metric,assigned condition,movie_1,predicted_rating_1,...,movie_9,predicted_rating_9,movie_10,predicted_rating_10,movie_11,predicted_rating_11,movie_12,predicted_rating_12,is_personalized,enjoy_watching
0,8e7cebf9a234c064b75016249f2ac65e,5.0,2.0,3.0,2.5,6.5,serendipity,high,77658,4.410466,...,120138,4.244817,121372,4.396004,127152,4.120456,95311,4.053847,4,4
1,77c7d756a093150d4377720abeaeef76,7.0,4.0,6.0,5.5,4.0,all,default,94959,4.207280,...,56782,4.019599,5618,3.963953,969,4.174188,1232,4.334877,2,3
2,b7e8a92987a530cc368719a0e60e26a3,4.0,3.0,4.5,2.0,2.5,serendipity,medium,110501,4.868064,...,2288,4.823212,3307,4.676756,1172,4.649281,1212,4.744990,2,2
3,92561f21446e017dd6b68b94b23ad5b7,5.5,5.5,4.0,4.5,4.0,popularity,medium,2905,4.526371,...,3030,4.425689,1281,4.479921,940,4.355061,905,4.317927,3,3
4,030001ac2145a938b07e686a35a2d638,5.5,5.5,3.5,4.5,2.5,popularity,medium,2905,4.526371,...,3030,4.425689,1281,4.479921,940,4.355061,905,4.317927,2,3

In [7]:
df_ratings.head()

                              useri   movie_id   rating                tstamp
0  8e7cebf9a234c064b75016249f2ac65e          1      5.0   2001-09-10 17:19:56
1  8e7cebf9a234c064b75016249f2ac65e          2      4.0   2001-09-28 11:34:55
2  8e7cebf9a234c064b75016249f2ac65e          3      4.0   2001-09-28 11:42:50
3  8e7cebf9a234c064b75016249f2ac65e          5      5.0   2001-09-28 11:27:30
4  8e7cebf9a234c064b75016249f2ac65e          6      4.0   2002-01-07 18:12:02

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1834 entries, 0 to 1833
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   userid                1834 non-null   object
 1    openness             1834 non-null   float64
 2    agreeableness        1834 non-null   float64
 3    emotional_stability  1834 non-null   float64
 4    conscientiousness    1834 non-null   float64
 5    extraversion         1834 non-null   float64
 6    assigned metric      1834 non-null   object
 7    assigned condition   1834 non-null   object
 8    movie_1              1834 non-null   int64
 9    predicted_rating_1   1834 non-null   float64
 10   movie_2              1834 non-null   int64
 11   predicted_rating_2   1834 non-null   float64
 12   movie_3              1834 non-null   int64
 13   predicted_rating_3   1834 non-null   float64
 14   movie_4              1834 non-null   int64
 15   predicted_rating_4   1834 non-null   float64
 16   movie_5              1834 non-null   int64
 17   predicted_rating_5   1834 non-null   float64
 18   movie_6              1834 non-null   int64
 19   predicted_rating_6   1834 non-null   float64
 20   movie_7              1834 non-null   int64
 21   predicted_rating_7   1834 non-null   float64
 22   movie_8              1834 non-null   int64
 23   predicted_rating_8   1834 non-null   float64
 24   movie_9              1834 non-null   int64
 25   predicted_rating_9   1834 non-null   float64
 26   movie_10             1834 non-null   int64
 27   predicted_rating_10  1834 non-null   float64
 28   movie_11             1834 non-null   int64
 29   predicted_rating_11  1834 non-null   float64
 30   movie_12             1834 non-null   int64
 31   predicted_rating_12  1834 non-null   float64
 32   is_personalized      1834 non-null   int64
 33   enjoy_watching       1834 non-null   int64
dtypes: float64(17), int64(14), object(3)
memory usage: 465.7+ KB

In [9]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028751 entries, 0 to 1028750
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   useri      1028751 non-null  object
 1    movie_id  1028751 non-null  int64
 2    rating    1028751 non-null  float64
 3    tstamp    1028751 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 23.5+ MB